body .main-container {
max-width: 2000px;
}
body content { zoom: 300%; }

.slick-prev:before {
  /*content: "<";*/
  /*color: red;*/
    /*display: inline-block;
    width: 100px; 
    height: 100px;*/
}

.slick-next:before {
  /*content: ">";
  color: red;*/
 /*display: inline-block;
    width: 100px; 
    height: 100px;*/
}

.slickR {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;
  /* max-height: 533px; */
  object-fit: contain;
}

img {
/*height: 100px;
width: 100px; */
object-fit: contain;
}